<main class="contenedor">
  <form action="/vacantes/editar/{{vacante.url}}" class="default-form" method="POST">
    <h3>Informaci贸n General</h3>

    <div class="campo">
      <label for="titulo">Titulo</label>
      <input type="text" name="titulo" id="titulo" placeholder="Ej: React Developer" value="{{vacante.titulo}}" required>
    </div>

    <div class="campo">
      <label for="empresa">Empresa</label>
      <input type="text" name="empresa" id="empresa" placeholder="Empresa Contrata" value="{{vacante.empresa}}" required>
    </div>

    <div class="campo">
      <label for="ubicacion">Ubicaci贸n</label>
      <input type="text" name="ubicacion" id="ubicacion" placeholder="Ej: Colombia o remoto" value="{{vacante.ubicacion}}" required>
    </div>

    <div class="campo">
      <label for="salario">Salario (USD)</label>
      <input type="text" name="salario" id="salario" placeholder="Ej: 500usd" value="{{vacante.salario}}" required>
    </div>

    <div class="campo">
      <label for="contrato">Contrato</label>
      <select name="contrato" id="contrato">
        {{#tipoContrato vacante.contrato}}
          <option value="" disabled selected>-- Selecciona --</option>
          <option value="Freelance">Freelance</option>
          <option value="Tiempo Completo">Tiempo Completo</option>
          <option value="Medio Tiempo">Medio Tiempo</option>
          <option value="Por Proyecto">Por Proyecto</option>
        {{/tipoContrato}}
      </select>
    </div>

    <h3>Descripci贸n del puesto</h3>
    <div class="campo descripcion">
      <label>Descripci贸n</label>
      <input type="hidden" id="x" value="{{{vacante.descripcion}}}" name="descripcion">
      <trix-editor input="x"></trix-editor>
    </div>

    <h3>Conocimientos</h3>
    <ul class="lista-conocimientos">
      {{#seleccionarSkills vacante.skills}}
      {{/seleccionarSkills}}
    </ul>

    <div class="campo centrar-horizontal">
      <input type="hidden" name="skills" id="skills">
      <input type="submit" value="Guardar Cambios" class="btn btn-azul">
    </div>
  </form>
</main>
